/* includes alternating gray and white with on-hover color */
.jack_style {
    
    font-size: 2pt !important;
    font-family: Arial !important;
    border-collapse: collapse !important;
    border: 1px solid silver !important;
    width: 100% !important;
    height: 100px !important;
}

.jack_style td, th {
    padding: 3px !important;
}

.jack_style tr:nth-child(even) {
    background: #E0E0E0 !important;
}

.jack_style tr:hover {
    background: silver;
    cursor: pointer;
}
.jack_bt{
    font-family: 微软雅黑;
    font-size: 13px;
    color: #ffffff;
}
